.form {
    width: 280px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $tertiary-color;
    margin-top: 60px;
    padding: 20px;
    border-radius: 4px;
    gap: 12px;

    @include mq("m") {
        width: 500px;
    }

    @include mq("l") {
        height: auto;
        padding: 40px;
        gap: 15px;
    }

    h3 {
        font-size: 1.5rem;
        margin-top: 4px;
        margin-bottom: 4px;

        @include mq("l") {
            font-size: 1.8rem;
            margin-bottom: 24px;
        }
    }

    label {
        font-size: 1.2rem;
    }

    input {
        width: 220px;

        @include mq("m") {
            width: 300px;
        }
    }
}

.deleteButton {
    position: absolute;
    left: 10px;
    top: 15px
}
