body {
    box-sizing: border-box;
    background-color: $primary-color;
    color: white;
}

.globalContainer {
    width: 330px;
    margin-right: auto;
    margin-left: auto;

    @include mq("s") {
        width: 380px;
    }

    @include mq("m") {
        width: 662px;
    }

    @include mq("l") {
        width: 992px;
    }

    @include mq("xl") {
        width: 1260px;
    }

    @include mq("xxl") {
        width: 1682px;
    }
}

.editButton {
    position: absolute;
    background-color: $secondary-color;
    height: 35px;
    width: 50px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    justify-content: center;

    a {
        margin-top: auto;
        margin-bottom: auto;
        text-decoration: none;
        color: white;

        &:link {
            color: white;
        }

        &:visited {
            color: white;
        }
    }
}

.deleteForm {
    visibility: hidden;
}
