#header {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: $secondary-color;

    @include mq("l") {
        height: 85px;
    }

    @include mq("xl") {
        height: 100px;
    }

    a {
        &:link {
            color: white;
        }

        &:visited {
            color: white;
        }

        &:nth-of-type(1) {
            @include mq("l") {
                margin-left: auto;
            }
        }

        text-decoration: none;
    }

    #headerItems {
        display: flex;
        align-items: center;
        gap: 25px;

        @include mq("s") {
            justify-content: center;
        }

        @include mq("m") {
            justify-content: normal;
        }

        @include mq("xxl") {
            gap: 35px;
        }

        a {
            font-size: 0.85rem;

            @include mq("l") {
                font-size: 1.15rem;
            }
        }

        img {
            height: 50px;
        }

        #userMenu {
            display: flex;
            flex-direction: column;
            gap: 25px;

            @include mq("m") {
                flex-direction: row;
                gap: 25px;
                margin-left: auto;
            }
        }

        #userSubMenu {
            display: none;
        }
    }
}
