#header {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: $secondary-color;

    @include mq("l") {
        height: 85px;
    }

    @include mq("xl") {
        height: 100px;
    }

    a {
        &:link {
            color: white;
        }

        &:visited {
            color: white;
        }

        &:nth-of-type(2) {
            @include mq("l") {
                margin-left: auto;
            }
        }

        text-decoration: none;
    }

    #headerItems {
        display: flex;
        align-items: center;
        gap: 25px;

        @include mq("s") {
            justify-content: center;
        }

        @include mq("m") {
            justify-content: normal;
        }

        @include mq("xxl") {
            gap: 35px;
        }

        a {
            font-size: 0.85rem;

            @include mq("l") {
                font-size: 1.15rem;
            }
        }

        img {
            height: 50px;
        }

        #userMenu {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            h3 {
                margin-bottom: 5px;
                margin-top: 5px;
                font-size: 0.9rem;
            }

            @include mq("m") {
                flex-direction: row;
                gap: 25px;
                margin-left: auto;
            }

            button {
                background-color: $tertiary-color;
                border: none;
                border-radius: 2px;
                color: white;
                font-size: 0.6rem;
                width: 40px;
                height: 25px;

                @include mq("m") {
                    font-size: 1rem;
                    padding: 12px;
                    width: 80px;
                    height: 45px;
                    margin-top: 2px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        #userSubMenu {
            display: none;
        }
    }
}
