#header {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: $secondary-color;

    a {
        &:link {
            color: white;
        }

        &:visited {
            color: white;
        }

        text-decoration: none;
    }

    #headerItems {
        display: flex;
        align-items: center;
        gap: 35px;

        a {
            &:first-of-type {
                margin-left: 60px;
            }
        }

        img {
            height: 50px;
        }

        #userMenu {
            display: flex;
            gap: 35px;
            margin-left: auto;
        }

        #userSubMenu {
            display: none;
        }
    }
}
