#navBar {
    height: 120px;
    width: 100%;
    background-color: $secondary-color;
    border-top: solid 1px gray;

    #navBarItems {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
